<h1 mat-dialog-title>Add Ingredient</h1>

<form [formGroup]="ingredientForm" mat-dialog-content (ngSubmit)="submit()">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput 
            type="text"
            name="name"
            required
            formControlName="name">
        <mat-error *ngIf="name.invalid">
            {{name.errors! | appErrors }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Unit of Measure</mat-label>
        <input matInput
            type="text"
            name="unit_of_measure"
            required
            formControlName="unit_of_measure">
        <mat-error *ngIf="unit_of_measure.invalid">
            {{unit_of_measure.errors! | appErrors }}
        </mat-error>
    </mat-form-field>  
</form>
<div mat-dialog-actions>
    <button (click)="submit()" mat-flat-button color="primary">Submit</button>
    <button *ngIf="dialogRef" (click)="cancel()" mat-flat-button type="button" color="secondary">cancel</button>
</div>