<h1 mat-dialog-title>Add Recipe</h1>

<form [formGroup]="recipeForm" (ngSubmit)="submit()" mat-dialog-content >
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput 
            type="text"
            name="name"
            required
            formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Value</mat-label>
        <input matInput 
            type="number"
            name="value"
            required
            formControlName="value">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput 
            type="text"
            name="description"
            required
            maxlength="50"
            formControlName="description">
        </textarea>
        <mat-error *ngIf="description.invalid">
            {{description.errors! | appErrors }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Guide</mat-label>
        <textarea matInput 
            type="text"
            name="guide"
            required
            formControlName="guide">
        </textarea>
        <mat-error *ngIf="guide.invalid">
            {{guide.errors! | appErrors }}
        </mat-error>
    </mat-form-field>
</form>
<div mat-dialog-actions>
    <button (click)="submit()" mat-flat-button color="primary">Submit</button>
    <button *ngIf="dialogRef" (click)="cancel()" mat-flat-button type="button" color="secondary">cancel</button>
</div>