<h1>Ingredient List</h1>
<h3 class="center">Ingredients in Database</h3>
<table mat-table [dataSource]="ingredients" class="mat-elevation-z8 ingredient-table">
    <ng-container matColumnDef="id" class="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name" class="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="unit_of_measure" class="unit_of_measure">
        <th mat-header-cell *matHeaderCellDef> Unit of Measure </th>
        <td mat-cell *matCellDef="let element"> {{element.unit_of_measure}} </td>
    </ng-container>

    <ng-container matColumnDef="edit" class="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click)="startEditIngredient(element)">
                <mat-icon>edit</mat-icon>
              </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-fab color="primary"
        aria-label="Add ingredient"
        class="button-action"
        (click)="startAddIngredient()">
    <mat-icon>add</mat-icon>
</button>
