<mat-toolbar color="primary">
  <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Recipe Handler</span>
  <div><button mat-icon-button class="login_btn" aria-label="Example icon-button with menu icon" [routerLink]="['/', 'login']">Login</button></div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" closed>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>