<h1>Recipe List</h1>
<mat-accordion>
  <mat-expansion-panel *ngFor="let recipe of recipes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ recipe.name}}
      </mat-panel-title>
      <!--<mat-panel-description>
        This is a summary of the content
      </mat-panel-description>-->
    </mat-expansion-panel-header>
    <p>{{ recipe.description }}</p>
    <mat-action-row>
      <button mat-icon-button (click)="startEditRecipe(recipe)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<button mat-fab color="primary"
    aria-label="Add ingredient"
    class="button-action"
    (click)="startAddRecipe()">
  <mat-icon>add</mat-icon>
</button>